asrp>=0.0.55
transformers
Flask
flask-cors
pydub
soundfile
gevent
nlp2
pyOpenSSL
autopep8==1.7.0
cffi==1.15.1
numpy==1.23.3
pyasn1==0.4.8
pycodestyle==2.9.1
pycparser==2.21
rsa==4.9
scipy==1.10.0
sounddevice==0.4.5
toml==0.10.2
Wave==0.0.2